<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490234119235-5gc6tpv7t74fo6104djcekqrnkndmfd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490234119235-5gc6tpv7t74fo6104djcekqrnkndmfd6</string>
	<key>API_KEY</key>
	<string>AIzaSyBqqgRzpay72lKBnKl7ujiwrpLIlMo0MJY</string>
	<key>GCM_SENDER_ID</key>
	<string>490234119235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jirani.jiraniapp.jiraniapp</string>
	<key>PROJECT_ID</key>
	<string>projectjirani-e0cdf</string>
	<key>STORAGE_BUCKET</key>
	<string>projectjirani-e0cdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490234119235:ios:eab41e671cced0e0b880f6</string>
</dict>
</plist>